<?xml version="1.0"?>
<config>
    <modules>
        <Fballiano_AutodeleteProductImages>
            <version>0.1.0</version>
        </Fballiano_AutodeleteProductImages>
    </modules>
    <global>
        <models>
            <fballiano_autodeleteproductimages>
                <class>Fballiano_AutodeleteProductImages_Model</class>
            </fballiano_autodeleteproductimages>
        </models>
        <helpers>
            <fballiano_autodeleteproductimages>
                <class>Fballiano_AutodeleteProductImages_Helper</class>
            </fballiano_autodeleteproductimages>
        </helpers>
        <events>
            <catalog_product_save_before>
                <observers>
                    <fballiano_autodeleteproductimages>
                        <class>fballiano_autodeleteproductimages/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </fballiano_autodeleteproductimages>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_commit_after>
                <observers>
                    <fballiano_autodeleteproductimages>
                        <class>fballiano_autodeleteproductimages/observer</class>
                        <method>catalogProductSaveCommitAfter</method>
                    </fballiano_autodeleteproductimages>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_product_delete_commit_after>
                <observers>
                    <fballiano_autodeleteproductimages>
                        <class>fballiano_autodeleteproductimages/observer</class>
                        <method>catalogProductDeleteCommitAfter</method>
                    </fballiano_autodeleteproductimages>
                </observers>
            </catalog_product_delete_commit_after>
        </events>
    </global>
</config>